{% extends "base.html" %}

{% block title %}
{{ product.title }}
{% endblock %}

{% block content %}

<style>
.container {
    width: 90%;
    margin: 25px auto;
    background: #fff8e1;
    border-radius: 10px;
    padding: 25px;
    border: 1px solid #d7ccc8;
}

.product-wrapper {
    display: flex;
    gap: 30px;
}

.product-image {
    width: 40%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #d7ccc8;
    padding: 10px;
}

.product-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.product-info {
    width: 60%;
}

.product-info h2 {
    margin-top: 0;
    font-size: 25px;
    color: #1b5e20;
}

.category-box {
    margin-top: 6px;
    font-size: 15px;
    color: #5d4037;
}

.category-box a {
    text-decoration: none;
    background: #2e7d32;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
}

.price-box {
    font-size: 22px;
    font-weight: bold;
    color: #2e7d32;
    margin-top: 10px;
}

.actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.btn-cart {
    background: #2e7d32;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.btn-cart:hover {
    background: #1b5e20;
}

.btn-favorite {
    background: #6d4c41;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.btn-favorite:hover {
    background: #4e342e;
}

.description-box {
    margin-top: 25px;
    line-height: 1.8;
    background: #ffffff;
    border: 1px solid #d7ccc8;
    border-radius: 10px;
    padding: 15px;
}

.comments-box {
    margin-top: 40px;
    padding: 20px;
    background: #efe7da;
    border-radius: 10px;
}

.comments-box h3 {
    margin-top: 0;
    color: #1b5e20;
}

.comment-item {
    background: #ffffff;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d7ccc8;
    margin-bottom: 10px;
}

.add-comment-box {
    margin-top: 25px;
}

.add-comment-box textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #a1887f;
    border-radius: 6px;
}

.add-comment-box button {
    margin-top: 10px;
    padding: 10px 22px;
    border: none;
    background: #6d4c41;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.add-comment-box button:hover {
    background: #4e342e;
}
</style>


<div class="container">

    <div class="product-wrapper">

        <div class="product-image">
            <img src="{{ product.image.url }}" alt="{{ product.title }}">
        </div>

        <div class="product-info">

            <h2>{{ product.title }}</h2>

            <div class="category-box">
                دسته‌بندی:
                <a href="{% url 'category_products' product.category.slug %}">
                    {{ product.category.title }}
                </a>
            </div>

            <div class="price-box">
                {{ product.price }} تومان
            </div>

            <div class="actions">
                <a href="#" class="btn-cart">
                    افزودن به سبد خرید
                </a>

                <a href="#" class="btn-favorite">
                    افزودن به علاقه‌مندی‌ها
                </a>
            </div>
             {% if product.inventory == 0 %}
                    <p style="color:red; font-weight:bold;">
                        اتمام موجودی
                    </p>
                {% else %}
                    <p style="color:green;">
                        موجود
                    </p>
                {% endif %}

            <div class="description-box">
                <h3>توضیحات محصول:</h3>
                <p>{{ product.description }}</p>
            </div>

        </div>

    </div>

    <div class="comments-box">
        <h3>نظرات کاربران</h3>

        <div class="comment-item">
            کاربر نمونه: محصول خیلی عالی بود، کیفیت فوق‌العاده.
        </div>

        <div class="comment-item">
            کاربر دیگر: بسته‌بندی مناسب و ارسال سریع 👌
        </div>

        <div class="add-comment-box">
            <h4>نظر خود را ثبت کنید</h4>
            <textarea placeholder="نظر شما..."></textarea>
            <button type="button">ارسال نظر</button>
        </div>
    </div>

</div>

{% endblock %}
