{% extends "base.html" %}
{% block title %}ورود{% endblock %}

{% block content %}

<div class="register-wrapper">

    <div class="register-card">

        <h2 class="register-title">ورود به حساب کاربری</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_username">نام کاربری</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="id_password">رمز عبور</label>
                {{ form.password }}
            </div>

            <button type="submit" class="register-btn">
                ورود
            </button>
        </form>

        <p class="login-link">
            حساب ندارید؟
        </p>

        <a class="block-link" href="{% url 'accounts:register' %}">
            ثبت نام
        </a>

        <a class="block-link" href="{% url 'accounts:password_reset_request' %}">
            فراموشی رمز عبور
        </a>

    </div>

</div>

{% endblock %}
